doctype html
html
  head
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='/bower_components/animate.css/animate.min.css')
    link(rel='stylesheet' href='/css/custom.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/underscore/underscore-min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/backbone/backbone.js')
    script(src='/js/app.js')
  body
    .container-calendar
      header trulala

      .col-md-2.arrow-wrapper
        .arrow-wrapper-cell
          .arrow.arrow-left
            span.glyphicon.glyphicon-chevron-left

      .col-md-8.calendar-table
        table.days-table
          each n in [0, 1, 2, 3, 4, 5, 6]
            tr.calendar-table-row
              each x in [0, 1, 2, 3, 4, 5, 6]
                td.cell
      .col-md-2.arrow-wrapper
        .arrow-wrapper-cell
          .col-md-2.arrow.arrow-right
            span.glyphicon.glyphicon-chevron-right